.btn-logout-m {
  margin-right: 0;
}

.side-nav .user-view .name {
  margin-top: 4px;
}

span.name {
  padding-bottom: 16px;
}

.subheader {
  display: inline !important;
}

.btn-room {
  margin-right: 0;
}
